.my-header {
    background-color: #F77A00;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb76b), color-stop(0%,#ffa73d), color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(25%,#F77A00), color-stop(100%,#F77A00));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}

.my-footer {
    background-color: #FAFAFA;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
.my-footer span {
    font-size: 12pt;
    color: #1A292C;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

.remark-slide-number {
  font-size: 12pt;
  margin-bottom: -11.6px;
  margin-right: 10px;
  color: #1A292C; /* white */
  opacity: 1; /* default: 0.5 */
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 6px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #EB811B;
}

.wrap {
  width: 1225px;
  height: 500px;
  overflow: hidden;
}

iframe {
  width: 142.9% !important;
  height: 142.9% !important;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

a, a > code {
  color: #FFB81C;
    text-decoration: none;
}

.title-slide {
  background-image: url(ucla-fielding.jpg);
  background-position: 95% 90%;
  background-size: 300px;
  background-color: white;
}

.remark-slide-content {
  background-color: #FAFAFA;
    border-top: 80px solid #003B5C;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 1em 1em 1em
}

.inverse {
  background-color: #003B5C;
    text-shadow: none;
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.title-slide {
  background-color: #FAFAFA;
    border-top: 80px solid #FAFAFA;
}

.pull-left {
  float: left;
  width: 49%;
}
.pull-right {
  float: right;
  width: 49%;
}

.pull-left-skinny {
  float: left;
  width: 40%;
}
.pull-right-fat {
  float: right;
  width: 59%;
}

.caption {
  text-align: center;
  font-size: 1rem;
}

.supp-slide .remark-slide-number {
  display: none;
}
